<!DOCTYPE html>
<html>
<head>
	<title>New Photo</title>
</head>
<body>
	<header>
		<h1>New Photo Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/photos">Photos</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/photos" method="POST">
			<select type="text" name="username">
				<option value="">Choose User</option>
					<% for (let i = 0; i < users.length; i++) { -%>
					<option value="<%=users[i].username%>"><%=users[i].username%></option>
				<% } -%>
			</select><br>
			Image: <input type="text" name="img"><br>
			Caption: <input type="text" name="caption"><br>
			<button type="submit">Create Photo</button>
		</form>
	</main>

</body>
</html>