<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<header>
		<h1>Welcome to the Photo Site</h1>
	</header>
	<main>
		<nav>
			<ul>
				<li><a href="/users">Users</a></li>
			</ul>
		</nav>
	</main>

</body>
</html>