<!DOCTYPE html>
<html>
<head>
	<title>New User</title>
</head>
<body>
	<header>
		<h1>New User Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users">Users</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/users" method="POST">
			Username: <input type="text" name="username"><br>
			Password: <input type="text" name="password"><br>
			<button type="submit">Create User</button>
		</form>
	</main>

</body>
</html>